.container {
  background: linear-gradient(180deg, #000, #004083);
  padding: 50px;
  min-height: 100vh;
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container .header .createItem {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.container .header h1 {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.container :last-child.todoItem {
  margin-bottom: 0;
}
